/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


#content {
	animation: fadein 3s;
	-webkit-animation: fadein 3s;
	/* Safari and Chrome */

}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@font-face {
	font-family:"myfont";
	src: url("yourfont.ttf") format("truetype");
  } 

  
body {
	margin-top: 0;
	padding: 0;
	font-family: "Myfont", sans-serif;
	font-size: 11px;
	width: 100vw;
	height: 100vh;
	background-image: radial-gradient(circle 248px at center, #000000 0%, #FF941D 47%, #000000 100%);
	background-repeat: no-repeat;
	background-position: 10% 10%;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	color: #FF941D;
}

h4 {
	margin-top: 20px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	color: #ff961d4b;
}


h2 { font-size: 24px; }
h3 { font-size: 18px; }

li { color:aliceblue}
p, ol, ul, blockquote {
	line-height: 22px;
	color:rgb(255, 255, 255);
}



a {
	width:400px;
	display: inline-block;
	background: transparent;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;
	font-size: 2rem;
	letter-spacing: 0.3em;
	color: rgba(255, 237, 192, 0.7);
	border-radius: 0;
	padding: 30px 60px 30px;
	transition: all 0.7s ease-out;
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
	background-position: 1% 50%;
	background-size: 300% 300%;
	text-decoration: none;
	margin: 1.5rem;
	border: none;
	border: 1px solid rgba(223,190,106,0.3);
}


a:hover {
	color: #fff;
	border: 1px solid rgba(223,190,106,0);
	color: white;
	background-position: 99% 50%;
  }


/* a {
	border-bottom: 1px dotted #707070;
	text-decoration: none;
	color: #ffffff;
	font-size:16px;
}

a:hover {
	border: none;
	color: #434343;
} */

strong {
	color: #ffffff;
}

/* Posts */

.post {
	padding: 20px 20px 20px 20px;
	background: #131313;
	border-top: 1px solid #1F1F1F;
	border-right: 1px solid #1F1F1F;
	border-bottom: 1px solid #1F1F1F;
	border-left: 1px solid #1F1F1F;
}


/* Header */

#header {
	width: 600px;
	height: 280px;
	margin: 0 auto;
	background: url('../images/img2.jpg'); 
	animation: fadein 5s;
	-webkit-animation: fadein 5s;
}

#header h1 {
	margin: 0;
	padding: 180px 0 0 20px;
	font-size: 36px;
}

#header h2 {
	margin: 0;
	padding: 0 0 0 px;
	font-size: 16px;
	opacity:.5;
}

#header a {
	border: none;
	letter-spacing: -1px;
	color: #FF941D;
}

/* Content */

#menu {
	text-align: center;
}


#colTwo {
	text-align: center;
	opacity:.7;
	animation: change 0.5s ease forwards;
}

/* Footer */

#footer {
	clear: both;
	width: 580px;
	margin: 0 auto;
	padding-top: 20px;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 9px;
	position:fixed;
    bottom:0;
}

#footer * {
	color: #ffffff;
}
.slide-in {
	animation: change 0.5s ease forwards;
  }
@keyframes change {
	from {
	  transform: translateX(100%);
	  visibility: visible;
	}
  
	to {
	  transform: translateX(0%);
	}
  }

  * {
	margin: 0;
	padding: 0;
  }
  

  
  .helmet {
	font-size: 2em;
	font-weight: normal;
	font-style: italic;
	color: #FF941D;
  }
  
  .button {
	font-size: 1em;
	padding: 10px;
	color: #ffffff;
	border: 2px solid #FF941D;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
  }
  .button:hover {
	background: #FF941D;
  }
  
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  /* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-left .5s;
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


  .collapsible {
	width: 400px;
	display: inline-block;
	background: transparent;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;
	font-size: 1rem;
	letter-spacing: 0.3em;
	color: rgba(255, 237, 192, 0.7);
	border-radius: 0;
	padding: 20px 40px 20px;
	transition: all 0.7s ease-out;
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
	background-position: 1% 50%;
	background-size: 300% 300%;
	text-decoration: none;
	margin: 1rem;
	border: none;
	border: 1px solid rgba(223,190,106,0.3);
  }
  
  .active, .collapsible:hover {
	border: 1px solid rgba(223,190,106,0);
	background-position: 99% 50%;
  
  }
  
  .content1 {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	font-style: normal;
	font-size: 1rem;
	line-height: 22px;
	color:#FF941D;
  }

  .box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
}



/* Three columns side by side */
.column {
	float: left;
	width: 20%;
	margin-bottom: 16px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */

  
  /* Add some shadows to create a card effect */
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
	padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
	text-shadow: 1px 1px 1px white; 
  }

  .nohelmet{
	color:red;
  }

  
  .modal-img-space {
    width: 625px;
    height: 635px;
    margin-top: 10px;
    text-align: center;
}