<!-- 1. {% load static %}
2. <link rel="stylesheet" href="{% static 'css/default.css' %}">
3.  <li><a href="{% url 'index'%}" accesskey="1">Main</a></li>
    <li><a href="{% url 'simulation'%}" accesskey="2">simulation</a></li>
    <li><a href="{% url 'contact'%}" accesskey="3">contact</a></li> -->


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HELLmet ON!</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="{% static 'css/default.css' %}">
</head>
<body>

<div id="header">

  <h1>HELLmet ON!</a></h1>
  <h2>인공지능 헬멧 판독기</a></h2>

</div>

<div id="content">
  <div id="colOne">
    <div id="menu">
      <ul>
        <li><a href="{% url 'index'%}" accesskey="1">Main</a></li>
        <li><a href="{% url 'simulation'%}" accesskey="2">simulation</a></li>
        <li><a href="{% url 'contact'%}" accesskey="3">contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <p>Copyright &copy; 2023 SeSac 인공지능. <strong>헬맷온</strong></a></p>
</div>
</body>
</html>
