
{% extends 'base.html' %}
{% block content %}
<body>




<div id="content">
  <div id="colOne">
    <div id="menu">
      <ul>
        <li><a class="a" href="{% url 'index:main' %}">Main</a></li>
        <li><a class="a" href="{% url 'index:contact' %}">Who we are</a></li>
        {% if user.is_authenticated %}
        <li><a class="a" href="{% url 'index:simulation' %}">Use Product</a></li>
        {% else %}
        <li><a class="a" href="{% url 'common:login' %}">Use Product</a></li>
        {% endif %}
 
      </ul>
    </div>
  </div>
</div>

<div id="footer">
  <p>Copyright &copy; 2023 SeSac 인공지능. <strong>헬맷온</strong></p>
</div>
</body>
{% endblock %}